use pipx
has pre-commit || pipx install --system-pre-commit
has ansible || pipx install --system-site-packages ansible
has ansible-lint || pipx install --system-site-packages ansible-lint
use pre-commit
